
/* footer {
  width: 100%;
  height: 100px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  /* position:sticky;
  bottom: 0px; */ /*
} */

/* .bottom-bar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #002147;
  color: white;
} */

/* .logo {
  padding-top: 35px;
  text-align: center;
  margin-right: 15px;
}  */

/* .name {
  font-size: 1.8rem;
  font-weight: bold;
} */



/* Responsive  */
/* @media (max-width: 768px) {
  .bottom-bar {
    flex-direction: column;
    align-items: center;
  }
} */
